<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div class="main">
        <div class="chat-history"></div>
        <div class="send-form">
            <form action="" id="sendForm">
                <input type="text" id="message">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('sendForm').addEventListener('submit', (e) => {
                e.preventDefault();
                sendMessage();
            })

        })
        function sendMessage() {
            const message = document.getElementById('message').value;
            fetch('/send ', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    messageContent: message,
                   nickname: 'Placehoder'
                })
                   
            });
        }
    </script>
</body>

</html>