.main {
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

.chat-history {
    width: 100%;
    height: 85vh;
    background-color: cadetblue;
    padding: 10px;
    overflow-y: auto;
}

.send-form {
    margin: 10px;
}

.send-form input {
    width: 80%;
    font-size: 2rem;
    min-width: 10%;
}

.send-form button {
    font-size: 2rem;
}

.myself-msg {
    color: green;
}

.system-msg {
    color: aliceblue;
}